/* Step 8 */
h1{
    text-align:center;
  }

/* Step 11 */
.marker{
    background-color:red;
  }

/* Step 12 */
.marker {
    background-color: red;
    height:25px;
    width:200px;
  }

/* Step 13 */
.marker {
    width: 200px;
    height: 25px;
    background-color: red;
    margin:auto;
  }

/* Step 15 */
.marker {
    width: 200px;
    height: 25px;
    background-color: red;
    margin: 10px auto;
    
  }

/* Step 17 */
.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }

/* Step 18 */
.one{
    background-color:red;
  }

/* Step 20 */
.two{
    background-color:green;
  }
  
  .three{
      background-color:blue;
  }

/* Step 21 */
.container{
    background-color:rgb(0,0,0);
  }

/* Step 22 */
.one {
    background-color: rgb(255,0,0);
  }

/* Step 23 */
.two {
    background-color: rgb(0,255,0);
  }
  
  .three {
    background-color: rgb(0,0,255);
  }

/* Step 24 */
.two {
    background-color: rgb(0, 127, 0);
  }
     
/* Step 25 */
.container {
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
}

/* Step 26 */
.two {
  background-color: rgb(0, 255, 0);
}

/* Step 27 */
.container {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
}

/* Step 28 */

.one {
  background-color: rgb(255, 255, 0);
}

/* Step 29 */
.two {
  background-color: rgb(0, 255, 255);
}

/* Step 30 */
.three {
  background-color: rgb(255, 0, 255);
}

/* Step 31 */
.one {
  background-color: rgb(255, 127, 0);
}

/* Step 32 */
.two {
  background-color: rgb(0, 255, 127);
}

/* Step 33 */
.three {
  background-color: rgb(127, 0, 255);
}

/* Step 34 */
.one {
  background-color: rgb(127, 255, 0);
}

.two {
  background-color: rgb(0, 127, 255);
}

.three {
  background-color: rgb(255, 0, 127);
}

/* Setp 35 */
.one {
  background-color: rgb(0, 0, 0);
}

.two {
  background-color: rgb(0, 0, 0);
}

.three {
  background-color: rgb(0, 0, 0);
}

/* Setp 36 */
.one {
  background-color: rgb(255, 0, 0);
}

.two {
  background-color: rgb(0, 255, 255);
}

/* Setp 37 */
h1 {
  text-align: center;
  background-color:rgb(0, 255, 255);
}

/* Setp 38 */
.one {
  background-color: rgb(0, 0, 0);
}

.two {
  background-color: rgb(255, 0, 0);
}

/* Setp 39 */
.two {
  background-color: rgb(0, 0, 0);
}

/* Setp 40 */
h1 {
  text-align: center;
}

/* Setp 42 */
.red {
  background-color: rgb(0, 0, 0);
}

.two {
  background-color: rgb(0, 0, 0);
}

.three {
  background-color: rgb(0, 0, 0);
}

/* Setp 43 */
.red {
  background-color: rgb(255, 0, 0);
}

.two {
  background-color: rgb(0, 0, 0);
}

.three {
  background-color: rgb(0, 0, 0);
}

/* Setp 45 */
.red {
  background-color: rgb(255, 0, 0);
}

.green {
  background-color: rgb(0, 0, 0);
}

.blue {
  background-color: rgb(0, 0, 0);
}

/* Setp 46 */
.green {
  background-color: #00ff00;
}

/* Setp 47 */
.green {
  background-color: #007F00;
}

/* Setp 48 */
.blue {
  background-color: hsl(240,100%,50%);
}

/* Setp 49 */
.red {
  background: rgb(255, 0, 0);
}

/* Setp 50 */
.red {
  background: linear-gradient(90deg);
}

/* Setp 51 */
.red {
  background: linear-gradient(90deg, rgb(255,0,0));
}

/* Setp 52 */
.red {
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0,255,0));
}

/* Setp 53 */
.red {
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0),rgb(0,0,255));
}

/* Setp 54 */
.red {
  background: linear-gradient(90deg, rgb(255, 0, 0) 75%, rgb(0, 255, 0), rgb(0, 0, 255));
}

/* Setp 55 */
.red {
  background: linear-gradient(180deg, rgb(255, 0, 0) 75%, rgb(0, 255, 0), rgb(0, 0, 255));
}

/* Setp 56 */
.red {
  background: linear-gradient(180deg, rgb(255, 0, 0) 0%, rgb(0, 255, 0) 50%, rgb(0, 0, 255)100%);
}

/* Setp 57 */
.red {
  background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(0, 255, 0) 50%, rgb(0, 0, 255) 100%);
}

/* Setp 58 */
.red {
  background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(0, 0, 255) 100%);
}

/* Setp 59 */
.red {
  background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
}

/* Setp 60 */
.green {
  background: #007F00;
}

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

