/* Step 8 */
h1{
    text-align:center;
  }

/* Step 11 */
.marker{
    background-color:red;
  }

/* Step 12 */
.marker {
    background-color: red;
    height:25px;
    width:200px;
  }

/* Step 13 */
.marker {
    width: 200px;
    height: 25px;
    background-color: red;
    margin:auto;
  }

/* Step 15 */
.marker {
    width: 200px;
    height: 25px;
    background-color: red;
    margin: 10px auto;
    
  }

/* Step 17 */
.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }

/* Step 18 */
.one{
    background-color:red;
  }

/* Step 20 */
.two{
    background-color:green;
  }
  
  .three{
      background-color:blue;
  }

/* Step 21 */
.container{
    background-color:rgb(0,0,0);
  }

/* Step 22 */
.one {
    background-color: rgb(255,0,0);
  }

/* Step 23 */
.two {
    background-color: rgb(0,255,0);
  }
  
  .three {
    background-color: rgb(0,0,255);
  }

/* Step 24 */
.two {
    background-color: rgb(0, 127, 0);
  }
     
/* Step 25 */
.container {
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
}

/* Step 26 */
.two {
  background-color: rgb(0, 255, 0);
}

/* Step 27 */
.container {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
}

/* Step 28 */

.one {
  background-color: rgb(255, 255, 0);
}

/* Step 29 */
.two {
  background-color: rgb(0, 255, 255);
}

/* Step 30 */
.three {
  background-color: rgb(255, 0, 255);
}

/* Step 31 */
.one {
  background-color: rgb(255, 127, 0);
}

/* Step 32 */
.two {
  background-color: rgb(0, 255, 127);
}

/* Step 33 */
.three {
  background-color: rgb(127, 0, 255);
}

/* Step 34 */
.one {
  background-color: rgb(127, 255, 0);
}

.two {
  background-color: rgb(0, 127, 255);
}

.three {
  background-color: rgb(255, 0, 127);
}

/* Setp 35 */
.one {
  background-color: rgb(0, 0, 0);
}

.two {
  background-color: rgb(0, 0, 0);
}

.three {
  background-color: rgb(0, 0, 0);
}

/* Setp 36 */
.one {
  background-color: rgb(255, 0, 0);
}

.two {
  background-color: rgb(0, 255, 255);
}

/* Setp 37 */
h1 {
  text-align: center;
  background-color:rgb(0, 255, 255);
}

/* Setp 38 */
.one {
  background-color: rgb(0, 0, 0);
}

.two {
  background-color: rgb(255, 0, 0);
}

/* Setp 39 */
.two {
  background-color: rgb(0, 0, 0);
}

/* Setp 40 */
h1 {
  text-align: center;
}

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

Setp

